header {
    width: 100%;
    height: 100px;
    background-color: rgba(233, 218, 5, 0.5);
}

main {
    display: flex;
    flex-direction: column;
    
}

form {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.sorting-btn {
    width: 200px;
    height: 75px;
    border-radius: 10px;
    border: 1px solid black ;
    background-color: rgba(180, 92, 10, 0.8);

    margin: 25px;
}

.students-name {
    font: bold 2em Arial, sans-serif;
    color: #140808;
    text-shadow: #fff -1px -1px 0, 
                 #140808 1px 1px 0; 
}

.faculties {
    display: flex;
   

    width: 100%;
    height: 500px;
    background-color: blanchedalmond;
}

.faculty {
    width: 25%;
    display: flex;
    justify-content: center;
}

.facultitle {
    font: bold 3em Arial, sans-serif;
    color: #f0f0f0;
    text-shadow: #fff -1px -1px 0, 
                 #333 1px 1px 0;
}

.hufflepuff {
    background:
    repeating-linear-gradient(45deg, 
    yellow, yellow 30px, black 0, black 60px);
}

.gryffindor {
    background:
    repeating-linear-gradient(135deg, 
    red, red 30px, gold 0, gold 60px); 
}

.ravenclow {
    background:
    repeating-linear-gradient(45deg, 
    blue, blue 30px, rgb(205, 127, 50) 0, rgb(205, 127, 50) 60px);

}

.slytherin {
    background:
    repeating-linear-gradient(135deg, 
    green, green 30px, rgb(192,192,192) 0, rgb(192,192,192) 60px); 

}

.chosen-faculty {
    background-color: rosybrown;
}

